body{
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0;
}
.navbar{
    background-color:#333333;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left:100px;
    height:60px;
    margin: 0;
    
  }

  ul li a {
    text-decoration: none;
    font-weight: 600;
   color: #FFFFFF;
    border-radius:10px;
    margin:20px;
    padding:10px;
  }
  .nav1{
    margin-left:30px;
    margin-top: 16px;
  }
.BackgroundImage{
    background-image: url("./images/7.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.first-part{
    display:flex;
}
.coverText{
    width: 50%;
    margin: 48px;
    margin-top: 80px;
}

.cover img{
    height:400px;
    width: 400px;
    margin: 20px;
}
.button{
    border-radius: 30px;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.BackgroundImage2{
    background-image: url("./images/Frame.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.second-part{
    display:flex;
}
.profile img{
    height:400px;
    margin: 20px;
    margin-left: 80px;
}
.profileText{
    width: 40%;
    margin-top: 40px;
    margin-left: 250px;
}
.foodItem{
    display: flex;
}
.item {
margin: 4%;
border-radius:25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
padding: 30px;
}
.item1 img{
height: 280px;
width: 280px;
border-radius:10px;
}

div.container {
    padding: 10px;
  }


.item2 img{
    height: 280px;
    width: 280px;
    box-shadow: 10px 10px 5px grey;
    border-radius:15px;
 }
 .item3 img{
    height: 280px;
    width: 280px;
    border-radius:15px;
 }
 .card{
     display:flex;
     margin: 50px;
     padding:20px;
    border-radius:15px;
     background-color: rgb(250, 247, 242);
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center;
}

 .card1{
    margin-left: 20%;
    
}
.card2{
    margin-left: 20%;
}
.card3{
    margin-left: 20%;
}
.footer{
    height: 150px;
    width: 100%;
    color:white;
    text-align: center;
    background-color:#0B0D17;
}

.cardfont{
    font-size:50px;
    font-weight:bold;
}